__pycache__
.claude
.env
data/
1.10.0.tar.gz
cub-1.10.0/

study output/

/pycache/*

render/
render_gpu/
raw_dataset/
raw_optimizer_results/
study output/
mit_results/

wandb/
synthetic_ct/

.next/
out/
node_modules/
.env*.local
.vercel/
*.tsbuildinfo

real_scene_results
datasets/3D-Front/

results/
venv/
